*.pyc
*.~
*.swp
.swo
*.pyo
*.orig
local_settings.py

*.sqlite3
*.database
*.db
*.bak
.svn
*~*
*bak*
*.log
*.log.*
.DS_Store
venv
logs
Dockerfile
docker-entrypoint.sh
start.bat
start.sh
.ropeproject
.idea
documents
migrations
pid
*.pid
celerybeat-schedule
fetched_data
flow/
ipykernel
media
.python-version
/static
.access_token
.jsapi_ticket

indexdir
whoosh_index
alembic.ini
scripts/versions